body {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    width: 100%;
}

:root {
    --pri: #101a29;
    --sec: #172233;
}

.bg-pri {
    background-color: var(--pri);
}

.bg-sec {
    background-color: var(--sec);
}

.card {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.25);
    transition: 0.3s;
	background-color: var(--sec) !important;
}

.card:hover {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.25);
}

.list-group-item-custom {
    background-color: transparent !important;
    color: white !important;
}

.button.is-transparent {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    border: 0px;
}

.button.is-transparent:hover, .button.is-transparent:focus, .button.is-transparent:active {
    color: white;
}

hr {
    background-color: rgba(255, 255, 255, 0.12) !important;
    height: 1px !important;
    margin: 4rem 0em !important;
}

.custom-columns > .column {
    margin: 2rem 0rem;
}

@media(max-width: 767px) {
    .reverse-mobile {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}